altair==4.1.0
appdirs==1.4.4
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.2.0
backcall==0.2.0
bleach==3.3.0
blis==0.4.1
bokeh==2.0.0
boltons==20.2.1
branca==0.4.2
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
cleannlp==1.0.3
click==7.1.2
click-spinner==0.1.10
colorama==0.4.3
colorlog==4.7.2
cycler==0.10.0
cymem==2.0.3
dacite==1.6.0
datapane==0.9.2
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dominate==2.6.0
entrypoints==0.3
face==20.1.1
filelock==3.0.12
Flask==1.1.2
flit-core==3.0.0
folium==0.11.0
furl==2.1.0
glom==20.11.0
idna==2.10
importlib-resources==3.3.1
iniconfig==1.0.1
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
micawber==0.5.2
mistune==0.8.4
more-itertools==8.5.0
munch==2.5.0
murmurhash==1.0.2
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
numpy==1.19.2
orderedmultidict==1.0.1
packaging==20.4
pandas==1.2.1
pandas-datareader==0.9.0
pandocfilters==1.4.3
parso==0.8.1
pickleshare==0.7.5
Pillow==8.1.0
plac==1.1.3
plotly==4.14.3
pluggy==0.13.1
preshed==3.0.2
prompt-toolkit==3.0.14
py==1.9.0
pyarrow==2.0.0
Pygments==2.7.4
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.0.2
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2021.1
pywin32==300
PyYAML==5.4.1
pyzmq==22.0.2
requests==2.24.0
requests-toolbelt==0.9.1
retrying==1.3.3
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
six==1.15.0
spacy==2.3.2
srsly==1.0.2
stringcase==1.2.0
tabulate==0.8.7
testpath==0.4.4
thinc==7.4.1
toml==0.10.1
toolz==0.11.1
tornado==6.1
tqdm==4.50.2
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.10
validators==0.18.2
virtualenv==20.4.2
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
